html { font-family: arail; background-color: rgb(255,255,255); }
 A:active { color: rgb(100,100,100);}
 A:link { color: rgb(50,50,50);}
 A:visited { color: rgb(75,75,75);}
 .TextNavBar { font-size: xx-small;}
 A:hover { color: rgb(0,0,0);}
 .center{text-align: center;}
.justify{text-align: justify;}
.NavigationBar1{vertical-align: top; text-align: left}
